body {
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    color: #fff;
    font-family: "Segoe UI", Arial, sans-serif;
}

header {
    text-align: center;
    padding: 25px 0;
    background: #181818;
    box-shadow: 0px 3px 6px #000;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 30px auto;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    text-align: center;
    border-radius: 14px;
    border: 1px solid #333;
    box-shadow: 0 0 10px #000;
}

.card h2 {
    margin: 0;
    font-size: 22px;
    color: #cfcfcf;
}

.card span {
    margin-top: 10px;
    display: block;
    font-size: 32px;
    font-weight: bold;
    color: #00ffae;
}

.charts {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;
}

.chart-container {
    background: #1b1b1b;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #333;
    box-shadow: 0 0 15px #000;
}

.chart-container h3 {
    margin-bottom: 15px;
    color: #d6d6d6;
    text-align: center;
}
